

#navigation {
	width: 960px;
	margin: 0 auto;
        padding: 10px;
	overflow: hidden;
	border-top: 2px solid #000;
        border-right: 2px solid #000;
        border-left: 2px solid #000;
}

#logo {
	width: 32%;
	float: left;
	overflow: hidden;
}

h1#logoText {
	font-size: 3.5em;
	margin: 0;
}

h2#sloganText {
	font-size: 1.4em;
	font-style: italic;
	margin: 0;
}

h1#logoText a, h2#sloganText a {
    text-decoration: none;
}

#userID {
	width: 45%;
	float: left;
	overflow: hidden;
}

#userIDbox {
	width: 70%;
	float: left;
	min-height: 45px;
	padding-top: 10px;
}

#userIDbox p {
	line-height: 20px;
	margin: 0;
	padding: 0;
	padding-right: 10px;
	text-align: right;
}

p#userIDtext {
	overflow: hidden;
}

#clearUserID {
	width: 15%;
	float: left;
	overflow: hidden;
}

#shoppingCart {
	width: 15%;
	float: left;
	overflow: hidden;
}

#main {
	width: 960px;
	margin: 0 auto;
	border-left: 2px solid #000;
        border-right: 2px solid #000;
        border-bottom: 2px solid #000;
	overflow: hidden;
        padding: 10px;
}

#searchBox {
	margin-right: 1em;
	width: 32%;
	float: left;
	overflow: hidden;
}

fieldset {
    margin-bottom: 1em;
}

#searchResults {
	width: 64%;
	overflow: hidden;
}

/* Results Titles */ 

ul#resultsTitles, ul#resultsList, ul.resultItemText {
	margin: 10px 0px;
	padding: 0;
	width: 100%;
	overflow: hidden;
	font-size: .85em;
}

ul#resultsTitles li, ul.resultItemText li  {
	float: left;
	width: 11%;
	list-style: none;
	margin: 0;
}

ul#resultsTitles li.title_wineName, ul#resultsList li.item_wineName {
	width: 16%;
}

ul#resultsTitles li.title_wineryName, ul#resultsList li.item_wineryName {
	width: 14%;
}

ul#resultsTitles li.title_wineCountry, ul#resultsList li.item_wineCountry,
ul#resultsTitles li.title_wineRegion, ul#resultsList li.item_wineRegion {
	width: 11%;
}

ul#resultsTitles li.title_wineBody, ul#resultsList li.item_wineBody,
ul#resultsTitles li.title_wineColor, ul#resultsList li.item_wineColor,
ul#resultsTitles li.title_wineSugar, ul#resultsList li.item_wineSugar {
	width: 7%;
}


ul#resultsTitles li.title_wineFlavour, ul#resultsList li.item_wineFlavour  {
	width: 9%;
}



li.title_GetPrices {
	
}

/*  RESULTS */

/* ul#resultsList {
	margin: 10px 0px;
	padding: 0;
} */

li.resultItems {
	overflow: hidden;
	margin: 10px 0;
}

li.odd {
	background: #eee;
}
li.even {
	background: #ddd;
}

/* ul.resultItemText {
	float: left;
	margin: 0;
	padding: 0;
} */

/* ul.resultItemText li {
	float: left;
	width: 11%;
	overflow: hidden;
	list-style: none;
	margin: 0;
} */

/*li.item_wineName {
	
} */
li.item_wineryName {
	
} 
li.item_wineCountry  {
	
}
li.item_wineRegion  {
	
}
li.item_wineBody  {
	
}
/*li.item_wineColor  {
	
}*/
li.item_wineFlavour {
	
}
li.item_wineSugar {
	
}
li.item_GetPrices {
	
}

.button {
	color: #666;
	padding: 10px;
}